<!doctype html>
<html lang="en">

<head>
    <title>Booklink: Books</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/css/working.css" type="text/css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>
    <script>

    $(document).ready(function() {
        // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

        $('[data-toggle="tooltip"]').tooltip();

        $("#sendToCart").click(function (e) {

            e.preventDefault();
      var data = {
          isbn13: $("#isbn13").val()
            };
      console.log(data);

      $.ajax({
    "type": "POST",
    "url": "/booklist/ajax/addBookToCart/",
    "data": data
})
    });
    });


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center">

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../browse">Explore</a>
            <a class="nav-item nav-link" href="../search">Search</a>
        </div>
        <h3 class="nav-item" >BookLink</h3>
        <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link" href="../profile">Account</a>
            <a class="nav-item nav-link" href="../cart">Cart</a>
        </div>

    </div>
</nav>
    <section>
        <div class="container jumbotron bg-white">
            <div class="row">
                <div class="col-md-5 text-center">
                    <img class="rounded" src="/static/images/book-covers_PROJECT/{{isbn13}}.jpg"/>
                </div>


                    <div class="col-md-7">
                                                    <h1 class="title">{{book_title.0.0}}</h1>
            <h5 class="book_title">{{book_title.0.1}}, {{book_title.0.3}}</h5>
                        <p class="book_title text-muted">{{book_title.0.2}}, {{book_title.0.6}}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis quis elit sed auctor.
                            Proin et suscipit urna, et feugiat arcu. Aliquam erat volutpat. Cras pellentesque sed nunc ut posuere.
                            Cras id nibh a odio molestie condimentum. Vivamus nec pharetra risus, in consectetur nunc.
                            Ut feugiat pulvinar volutpat. Duis pharetra tempor sapien, sed convallis ligula sollicitudin eget.
                            Aenean vehicula at augue in viverra. Ut porttitor, elit eu maximus tempor, nibh tortor finibus nulla, id sodales sapien sem id lectus.</p>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalFeedback">View Feedback</button>

                        {% csrf_token %}
                        <input type="hidden" id="isbn13" name="isbn13" value={{book_title.0.6}}>
                        <button type="button" name="sendToCart" id="sendToCart" class="btn btn-primary">Add to Cart</button>






            <div class="modal fade bg-dark " id="modalFeedback" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback for {{book_title.0.0}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="text-center">
        {% if given_feedback %}
          <h5 class="text-muted">You gave it a</h5>
          <h1> {{given_feedback.0.3}}/10</h1>
          {% if given_feedback.0.4 %}
          <h5 class="text-muted">and said..</h5>
          <blockquote class="blockquote"> " {{given_feedback.0.4}} "</blockquote>
          {% endif %}

            {% else %}
                <form action="" method="POST"> {% csrf_token %}
                    <h5 class="text-muted">How would you rate the book?</h5>
                    <input type="number" required name="feedback_score" placeholder="5" min="1" max="10">

          <h5 class="text-muted">and what did you think of it?</h5>
          <input placeholder='Optional' type="text" rows="4" cols="50" name="feedback_text" style="resize: none"></input>
                    <br />
                    <button class="btn btn-success" style="margin: 15px" type="submit" name="submit_feedback" value="submit_feedback">Submit Feedback</button>
                </form>
            {% endif %}
          </div>
           <hr>
          {% if feedback_ratings %}
            <h4 class="title">User Feedbacks</h4>
            <form method="POST"> {% csrf_token %}
                <p class="text-muted">Viewing top: <input type="number" required name="no_views" min="1" max="50" value={{no_feedback}} style="width: 3em">
                <button type="submit" name="reselect_feedback" value="reselect_feedback">Change</button></p>

            </form>
                                                            {% for fb in feedback_ratings %}
                                                                <h5 class="author-name outer-top-xs">{{fb.0}}</h5>
                                                                Feedback: {{fb.4}}<br>
                                                                Rating: {{fb.3}}<br>
                                                                {% if username == fb.0 %}
          <p class="text-muted">You can't submit your own rating.</p>
                                                                {% elif fb.6 is None %}
                                                                    <form class="input-group" action="" method="POST"> {% csrf_token %}
                                                                        <input type="hidden" name="feedback_username" value={{fb.0}}>
                                                                        <input type="number" required name="rating_score" min="0" max="2" style="width: 3em">
                                                                        <button type="submit" name="submit_rating" value="submit_rating">Submit Rating</button>
                                                                    </form>
                                                                {% else %}
                                                                    <input type="number" disabled name="quantity" value={{fb.6}} style="width: 3em">
                                                                    <button type="submit" disabled name="submit_rating" value="submit_rating">Submitted</button>
                                                                {% endif %}
                                                            <hr>
                                                            {% endfor %}
          {% else %}
          <h5>No other buyers have left feedback yet.</h5>
          {% endif %}
      </div>
        <div>

        </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
             <div class="modal fade" id="">
                 <div class="modal-content">
                 <div class="text-white bg-dark mb-3">




  </div>

                 </div> </div>
                    </div>


                    </div>
            </div>
                </div>

    </section>
</body>

</html>