<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/css/working.css" rel="stylesheet">
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="row">Browse</h1>
                    <div class="input-group input-group-lg row">
                        <span class="input-group-addon" id="sizing-addon1">🔎</span>
                        <input type="text" class="form-control" placeholder="Search for books by title, author, subject and publisher.">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                     </span>
                    </div>
                    <div class="row">
                        <div class="card-deck row">
                        
                            <div class="card border-0">
                                <img class="card-img-top" src="https://images.gr-assets.com/books/1447303603m/2767052.jpg">
                                <div>
                                    <p class="card-text text-center"><small class="text-muted">The Hunger Games</small></p>
                                </div>

                            </div>
                            <div class="card border-0">
                                <img class="card-img-top" src="https://images.gr-assets.com/books/1474154022m/3.jpg">
                                <div>
                                    <p class="card-text text-center"><small class="text-muted">Harry Potter and the Philosopher's Stone</small></p>
                                </div>

                            </div>
                            <div class="card border-0">
                                <img class="card-img-top" src="https://images.gr-assets.com/books/1361039443m/41865.jpg">
                                <div>
                                    <p class="card-text text-center"><small class="text-muted">Twilight</small></p>
                                </div>

                            </div>
                            <div class="card border-0">
                                <img class="card-img-top" src=" https://images.gr-assets.com/books/1361975680m/2657.jpg">
                                <div>
                                    <p class="card-text text-center"><small class="text-muted">To Kill a Mockingbird</small></p>
                                </div>

                            </div>
                            <div class="card border-0">
                                <img class="card-img-top" src="https://images.gr-assets.com/books/1490528560m/4671.jpg">
                                <div>
                                    <p class="card-text text-center"><small class="text-muted">The Great Gatsby</small></p>
                                </div>

                            </div>

                           

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card" style="width: 20rem;">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header">Order details</div>
                            <div class="card-body">
                                <h4 class="card-title">Booking ID: 7F45Q </h4>
                                <p class="card-text">Due on 17th Dec 2017</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Harry Potter and the Philosopher's Stone</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>