<!doctype html>
<html lang="en">

<head>
    <title>Booklink: Books</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/css/working.css" type="text/css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $("#modal").iziModal();
    $(document).on('click', '.trigger', function(event) {
        event.preventDefault();
        $('#modal').iziModal('open');
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center">

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../browse">Explore</a>
            <a class="nav-item nav-link" href="../search">Search</a>
        </div>
        <h3 class="nav-item" >BookLink</h3>
        <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link" href="../profile">Account</a>
            <a class="nav-item nav-link" href="../checkout">Cart</a>
        </div>

    </div>
</nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 ">

                </div>
                <div class="col-md-8">
                    <form action="/booklist/search/" method="get" id="search">
                        <div class="input-group input-group-lg search-bar">
                            <span class="input-group-addon" id="sizing-addon1">🔎</span>
                            <input type="text" name="title" class="form-control" placeholder="Search for books by title.">
                            <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button submit" form="search">Go!</button>
                     </span>
                        </div>
                    </form>
                    <div>
                        <div class="booklist_container">
                            <ul class="grid">
                                {% for book in book_list %}
                                <li class="book_container rounded" data-toggle="tooltip" data-html="true" title="{{book.0}}">
                                    <a href="" class="trigger" data-toggle="modal" data-target="#{{book.8}}"><img class="rounded" src="http://via.placeholder.com/70x105"></a>
                                </li>
                                <div class="modal fade" id="{{book.8}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{book.0}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" id="" isbn="12334" class="btn btn-primary">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">

            </div>
            <br>
        </div>
        </div>
    </section>
</body>

</html>