<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/css/working.css" type="text/css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center">

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../browse">Explore</a>
            <a class="nav-item nav-link" href="../search">Search</a>
        </div>
        <h3 class="nav-item" >BookLink</h3>
        <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link" href="../profile">Account</a>
            <a class="nav-item nav-link" href="../checkout">Cart</a>
        </div>

</div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <ul class="cart-item-container">
                    <li class="col-xs-12" style="width: 100%;">
                    <div class="cart-item-image rounded">
                        <a href="" class="trigger"><img class="rounded" src="http://via.placeholder.com/70x105"></a>
                    </div>
                        <div class="cart-item-description">
                            <div class="cart-item-row clearfix">
                            <p class="float-left">One Hundred Years of Solitude</p>
                            </div>
                            <div class="cart-item-row">
                                <div class="input-group">
                                    <p>Quantity:    </p>
                                    <input type="text" class="form-control" value="1">

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>



            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
    </div>
    </nav>
</section>
</body>

</html>