<!doctype html>
<html lang="en">

<head>
    <title>Booklink: Books</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../../static/css/working.css" type="text/css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>


<body>
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center">

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../browse">Explore</a>
            <a class="nav-item nav-link" href="../search">Search</a>
        </div>
        <h3 class="nav-item" >BookLink</h3>
        <div class="navbar-nav navbar-right">
            <a class="nav-item nav-link" href="../profile">Account</a>
            <a class="nav-item nav-link" href="../cart">Cart</a>
        </div>

    </div>
</nav>
<!-- Nav tabs -->
<section>
    <div class="container">
        <div class="row">
             <div class="col-md-8 offset-md-2">
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="home" aria-selected="true">👤  User Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="profile" aria-selected="false">📚  Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="messages" aria-selected="false">📝  Feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="settings" aria-selected="false">✨ Ratings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
      <div class="profile">
          <div class="jumbotron bg-white">
              {% if user.is_superuser %}<p class="badge badge-secondary">Staff account</p>{% endif %}
                <h3> Welcome {{ user_profile.0.4 }}!  </h3>

                <p> Date joined: {{ user_profile.0.10 }}</p>

              {% if user.is_superuser %}
             <a href="/booklist/staff/addbook"><button class="btn btn-primary">Add new book</button></a>
              <a href="/booklist/staff/addstock"><button class="btn btn-success">Modify book</button></a>
              <a href="/booklist/staff/statistics"><button class="btn btn-warning">Statistics</button></a>
                {% endif %}
              <a href="/booklist/logout"><button class="btn btn-danger">Logout</button></a>


              </div>


			</div>
  </div>
  <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="profile-tab">
      <div class="jumbotron bg-white orderHistory">
                <table style="width:50%">
                    <tr>
                        <th>Book</th>
                        <th>Purchase</th>
                        <th>Date</th>

                    </tr>
                {% for purchase in purchase_history %}
                    <tr>
                        <td>{{ purchase.5 }}</td>
                        <td>{{ purchase.3 }}</td>
                        <td>{{ purchase.4 }}</td>
                    </tr>
                {% endfor %}
                </table>
			</div>
  </div>
  <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="messages-tab">
      <div class="jumbotron bg-white feedbackHistory">
                <table style="width:70%">
                    <tr>
                        <th>Book</th>
                        <th>Feedback</th>
                        <th>Score</th>
                        <th>Date</th>

                    </tr>
                {% for feedback in feedback_history %}
                    <tr>
                        <td>{{ feedback.5 }}</td>
                        <td>{{ feedback.4 }}</td>
                        <td>{{ feedback.3 }}</td>
                        <td>{{ feedback.2 }}</td>
                    </tr>
                {% endfor %}
                </table>
			</div>
  </div>
  <div class="tab-pane fade" id="ratings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="jumbotron bg-white ratingHistory">
                <table style="width:70%">
                    <tr>
                        <th>Book</th>
                        <th>Feedback</th>
                        <th>User</th>
                        <th>Score</th>
                        <th>Date</th>

                    </tr>
                {% for rating in rating_history %}
                    <tr>
                        <td>{{ rating.5 }}</td>
                        <td>{{ rating.6 }}</td>
                        <td>{{ rating.1 }}</td>
                        <td>{{ rating.4 }}</td>
                        <td>{{ rating.3 }}</td>
                    </tr>
                {% endfor %}
                </table>
			</div>
  </div>
</div>
             </div>
        </div>
    </div>
</section>

</body>

</html>