.search-bar{
	margin-bottom: 25px;
}

.book_container {
	display:block;
	margin: 0 0 10px 10px;
	width: 70px;
	height: 105px;
}

.booklist_container {
	margin-left: -10px;
	position: relative;
	overflow: hidden;
	-webkit-background-clip:padding-box;
}

.grid {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
